:root{
	--black: #1E1010;
	--sand: #FFE1BC;
	--green_dark: #427C29;
	--green_main: #5A9E3D;
	--green_mainLight: #7ABC4B;
	--green_mid: #93D155;
	--green_light: #BDEA79;
	--green_lightPlus: #E2F1AF;
	--green_palest: #F8FFE8;
}

.contactForm{
	margin: 20px 35px;
	width: auto;
}

.contactForm div{
	display: grid;
	grid-template-columns: minmax(100px, 1fr) 3fr;
	grid-gap: 5px;

	margin: 5px 10px;
}

.contactForm input, .contactForm textarea{
	font-family: Myriad Pro, Helvetica, Arial, sans-serif;
	font-size: 12pt;
	padding: 5px;
	display: inline-block;
}

.contactForm textarea{
	height: 100px;
}

.contactForm label{
	text-align: right;
}

.contactForm button{
	height: 40px;
	font-size: 10pt;
	padding: 5px;
	grid-column: -1/-1;
}

.contactForm input:link, .contactForm input:visited, 
.contactForm textarea:link, .contactForm textarea:visited{

}

.contactForm input:focus, .contactForm textarea:focus{

}

.pLink:active{
}

@media only screen and (max-width: 600px)
{
	.contactForm{
		margin: 10px 5px;
		width: auto;
	}

	.contactForm div{
		display: grid;
	grid-template-columns: minmax(50px, 1fr) 2fr;
		grid-gap: 5px;

		margin: 5px 10px;
	}
}