:root{
	--black: #1E1010;
	--sand: #FFE1BC;
	--green_dark: #427C29;
	--green_main: #5A9E3D;
	--green_mainLight: #7ABC4B;
	--green_mid: #93D155;
	--green_light: #BDEA79;
	--green_lightPlus: #E2F1AF;
	--green_palest: #F8FFE8;
}

a {	text-decoration: none;}

p{	
	font-size: 100%;
	line-height: 18pt;
}

h1{
	color: var(--black);
	font-family: "Lalezar", Myriad Pro, Arial, sans-serif;
	font-size: 42pt;
	padding: 10px 35px;
	overflow: hidden;
}

header{
	background-color: var(--green_lightPlus);

	grid-area: head;
	display: block;

	overflow: hidden;
}

.logo{
	background-color: var(--green_lightPlus);
	height: auto;

	display: grid;
	grid-template-columns: 1fr minmax(600px, 3fr) 1fr;
	grid-template-areas: 
	"....  logo  ....";
}

.logo a{
	grid-area: logo;
}

.menu{
	background-color: var(--green_main);
	height: auto;

	display: grid;
	grid-template-columns: 1fr minmax(600px, 3fr) 1fr;
	grid-template-areas: 
	"....  menu  ....";
}

.menu ul{
	font-family: "Ubuntu", Myriad Pro, Arial, sans-serif;
	font-size: 18pt;
	height: auto;
	padding: 0px 25px;
	
	grid-area: menu;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));

	display: flex;
	flex-wrap: wrap;
}

.navLink{
	height: 100%;
	padding: 10px 15px;
}

.navLink a:link, a:visited{
	text-decoration: none; 
	color: var(--green_lightPlus);
}

.navLink:hover, .navLink:focus{
	text-decoration: none; 
	background-color: var(--green_mainLight);
	color: var(--green_palest);
}

.navLink:active{
	text-decoration: none; 
	background-color: var(--green_dark);
}

.currentPage{
	background-color: var(--green_dark);
	color: var(--black);
}

@media only screen and (max-width: 600px)
{
	p{	
		font-size: 80%;
		line-height: 16pt;
	}

	h1{
		font-size: 36pt;
		padding: 2px 15px;
	}

	.menu{
		background-color: var(--green_main);
		height: auto;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"menu  menu  menu";
	}

	.menu ul{
		font-size: 16pt;
		padding: 0px 0px;
	}

	.menu ul li{
	padding: 5px 10px;
	}
}