:root{
	--black: #1E1010;
	--sand: #FFE1BC;
	--green_dark: #427C29;
	--green_main: #5A9E3D;
	--green_mainLight: #7ABC4B;
	--green_mid: #93D155;
	--green_light: #BDEA79;
	--green_lightPlus: #E2F1AF;
	--green_palest: #F8FFE8;
}

@font-face{
	font-family: "Ubuntu";
	src: url(../fonts/Ubuntu-Regular.woff);
	font-family: "Lalezar";
	src: url("../fonts/Lalezar-Regular.woff");
}

.boxView{
	border: 1px solid black;
	margin: 1px;
}

a {	text-decoration: none;}
blockquote{ text-decoration: none; }

p{	
	font-size: 100%;
	line-height: 18pt;
}

h2{
	font-family: "Ubuntu", Times, sans-serif;
	font-weight: bold;
	font-size: 14pt;
	margin-bottom: 8px;
}

body{
	background-color: var(--green_palest);
	color: var(--black);
	font-family: Myriad Pro, Helvetica, Arial, sans-serif;

	display: grid;
	grid-template-columns: 1fr minmax(600px, 3fr) 1fr;

	grid-template-areas: 
	"head  head  head"
	"....  main  ...."
	"foot  foot  foot"
	;

	overflow-x: hidden;
}

.liquid{
	height: auto;
}

.main{
	grid-area: main;
	height: auto;
}
.pLink:link, .pLink:visited{
	text-decoration: none;
	color: var(--green_dark) !important;
}

.pLink:hover, .pLink:focus{
	text-decoration: none; 
	text-decoration: underline; 
}

.pLink:active{
	color: var(--green_light);
}
.highlightBox{
	background-color: var(--sand);
	height: auto;
	font-family: "Ubuntu", Myriad Pro, Helvetica, Arial, sans-serif;
	font-size: 16pt;
	line-height: 24pt;

	padding: 30px 30px;
	margin: 10px 5px 10px;

/*	grid-row: 1;
	grid-column: 1/-1;*/
}

.textBox{
	height: auto;
	font-family: Myriad Pro, Helvetica, Arial, sans-serif;
	font-size: 11pt;
	line-height: 16pt;

	padding: 10px 60px 10px 30px;
	margin: 5px;

}

.tourContainer{
/*	display:flex;
	flex-direction: ltr;
	flex-wrap: wrap;
	justify-content: space-between;*/

	padding: 10px 5px;

	display: grid;
	grid-gap: 6px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.tourBox{
	background-color: var(--black);
	background-size: initial;
	background-position: center center;
	height: auto;
	padding-bottom: 80%; /* hot-fix*/
}
.tourBox a:link, a:visited{
	text-decoration: none;
	color: var(--green_lightPlus) !important;
}

.tourBox a:hover, a:focus{
	text-decoration: underline !important;
	color: var(--green_light) !important;
}

.tourBox a:active{
	text-decoration: underline !important;
	color: var(--green_palest) !important;
}

.b1{background: url("../images/photos/tour_city-park.jpg");}
.b2{background: url("../images/photos/tour_city.jpg");}
.b3{background: url("../images/photos/tour_forest.jpg");}
.b4{background: url("../images/photos/tour_river.jpg");}
.b5{background: url("../images/photos/tour_sunset.jpg");}

h3{
	background-color: rgba(66,124,41,.8);
	top: 0;
	padding: 15px 10px;
}

footer{
	background-color: var(--green_main);
	color: var(--green_light);
	height: auto;
	bottom: 0;
	font-size: 10pt;

	padding: 10px 5px 0px;

	grid-area: foot;
	display: grid;

	grid-template-columns: 1fr minmax(600px, 3fr) 1fr;
	grid-template-areas: 
	"....  foot  ...."
	;
}

h6{
	font-weight: bold;
}

footer nav{
	grid-area: foot;

	line-height: 1.4;
	padding: 0 10px;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

footer nav ul{
	padding: 10px 0px;
}

.fullWidth{
	text-align: center;
	grid-column: 1/-1;
	display: inline-block;
}

.co-mes img{
	width: 60px;
	padding: 10px 10px 20px;
}
footer a:link, a:visited{
	text-decoration: none;
	color: var(--green_lightPlus) !important;
}

footer a:hover, a:focus{
	text-decoration: underline !important;
	color: var(--green_light) !important;
}

footer a:active{
	text-decoration: underline !important;
	color: var(--green_palest) !important;
}

@media only screen and (max-width: 600px)
{
	body{
		background-color: var(--green_palest) !important;
		grid-template-columns: 0fr 1fr 0fr;
		grid-template-areas: 
		"head  head  head"
		"main  main  main"
		"foot  foot  foot";
	}

	.highlightBox{
		background-color: var(--green_palest);
		font-size: 18pt;
		line-height: 22pt;
		margin-top: 0px;
	}

	.textBox{
		font-size: 12pt;
		line-height: 14pt;
		padding: 8px 10px;
		margin: 10px 20px;
	}

	.tourContainer{
		display:grid;
		grid-gap: 10px;
		padding: 15px;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}

	footer{
		font-size: 12pt;
		padding: 10px 5px 0px;

		grid-template-columns: 0fr 1fr 0fr;
		grid-template-areas: 
		"foot  foot  foot";
	}

	footer nav{
		display: block;
	}
}